# System files
.DS_Store

# Secrets file
.env

# Rust build folder
/target


src/client/node_modules
src/client/.next/dev/build
src/client/.next/dev/server/chunks
src/client/.next/dev/static
node_modules
